html,
body {
    background-color: transparent;
    background-image: url('/img/image.jpg');
    background-repeat: no-repeat;
}

.container {
    width: 50%;
    margin: auto;
    padding: 5em;
    background: transparent;
}

.form-group {
    display: inline;
}

.header {
    text-align: center;
}

li button {
    padding-right: auto;
}