html,
body {
    background-color: transparent;
    background-image: url('/home/alexandre/Documents/github/js_toDoList/img/image.jpg');
    background-repeat: no-repeat;
}

.container {
    width: 50%;
    padding: 5em;
    border-radius: 10px;
}

.form-group {
    display: inline;
}

.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

ul .list-group-item {
    text-align: left;
}

ul .list-group-item p {
    display: inline;
}

ul .list-group-item button {
    float: right;
}